@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* floating dog animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

/* paw trail */
.paw-trail {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
  opacity: 0.85;
  animation: pawFade 0.8s ease-out forwards;
}

/* paw fade animation */
@keyframes pawFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.6) translateY(-10px);
    opacity: 0;
  }
}