@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
.paw-trail {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  animation: pawFade 0.7s ease-out forwards;
}

@keyframes pawFade {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -70%) scale(0.5);
    opacity: 0;
  }
}
